
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
    font-size: 15px;    
    
    
}

.navbar-dark .navbar-brand{
    padding-left: 15%;
}

#navbarNav ul li{
    margin: 10px;
}
#navbarNav ul li a:hover{
    border-bottom: 2px solid #fff;
   
}

.carousel-caption {
    bottom: 50%;

}

.carousel-caption h2{
    font-size: 50px;
}

.carousel-caption p{
    margin-top: 40px;
    font-size: 20px;
}

.carousel-caption button{
    margin-top: 40px;
    padding: 10px 20px;
    border: 2px solid #fff;

}
.navbar{
    padding: 0%;
}

.container{
    padding: 40px;
}
.container .texto{
    margin-top: 10%;
    text-align: center;


}

.container .texto h2{
    margin-bottom: 20px;
}
.container .carousel1{
    width: 60%;
    margin-top: 50px;
    border: 2px solid #000;
    padding: 17px 30px;
    margin-bottom: 50px;
    margin-left: 20%;
    
}

.container-1{
    position: relative;

    
}

.container-1 img{
    width: 100%; 

}

.container .row .col img{
    display: block;
    margin: auto;
    border-radius: 50%;
    max-width: 100px;
}

.container .row .col p{
    font-size: 20px;
    text-align: center;    
}

 .container-2{ 
     
     background: url("../img/equipo.png");
     
 
 }
 
.container-2 h1{
    padding-top: 100PX;
    color: #752d14;
    font-size: 60px;
    text-align: center;
    
}

.container-2 .equipo .row {
    max-width: 1140px;
    
}

.container-2 .equipo .row .col img{
    display: block;
    margin: auto;
    


}
.container-2 .equipo .row .col p{
    color: #752D14;
    text-align: center;
    border: 2px solid #752D14;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;

}

.contacto{
    
    background-color: #752d14;

}

.contacto h3{
    text-align: center;
    color: #fff;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;

    
}

.contacto p{
    text-align: center;
    color: #fff;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;

}
.contacto .row .col img{
    padding-top: 20px;
    display: block;
    margin: auto;
    max-width: 70%;  
}

@media only screen and (max-width: 769px){
    .container .carousel1{
        width: 80%;
        margin-left:  10%; 
     }

    .contacto .row .col img{
        padding: 20px;
        display: block;
        margin: auto;
        max-width: 100%;

}


@media only screen and (max-width: 376px){

  .container .carousel1{
      width: 100%;
      margin-left:  0%;
    }

    .container .row .col p{
        font-size: 15px;
        text-align: center;
    }
    .row-cols-3>* {
        flex: 160%;
        max-width: 100%;
    }

    .contacto{
        padding: 30px;
    }

    .contacto h3{
        text-align: center;
        color: #fff;
        padding: 10px;
        width: 100%;
        font-size: 25px;
    }

    .contacto .row .col img{
        padding-top: 20px;
        display: block;
        margin: auto;
        max-width: 100%;

    }

    .contacto p {
        text-align: center;
        color: #fff;
        padding: 10px;
        width: 100%;
        word-wrap: break-word;
    }
