/* Barra de navegacion */

header .navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,20);
    font-size: 20px;
}
header .navbar-expand-lg {
    background-color: #ffcc00!important;  
    position: fixed;
    width: 100%;
    z-index: 10000;
}
#navbarNav ul li a:hover{
    border-bottom: 2px solid #fff;  
}
/*inicio */
.carousel-caption {
    bottom: 50%;
}
.carousel-caption h2{
    font-size: 50px;
}
.carousel-caption p{
    margin-top: 40px;
    font-size: 20px;
}
.carousel-caption button{
    margin-top: 40px;
    padding: 10px 20px;
    border: 2px solid #fff;
}
/*Nosotros*/
.nosotros{
    width: 100%;
    
}
.nosotros .texto{
    max-width: 900px;
    text-align: justify;
    margin: auto ;
    padding-top: 120px ;
    font-size: 20px;
    text-align: center;
}
.nosotros .carousel1{
  
    ax-width: 70%;
    border: 2px solid #000;
    padding: 33px 33px;
    margin-bottom: 50px;
    margin: 0 35% 0;
    margin-bottom: 100px;
}
/*servicios */
#servicios .servicios{
    background: rgba(255, 204, 0,.9);
    height: 200px;
}
 .servicios h2{
    width: 46%;
    position: absolute;
    text-align: center;
    margin-top: 125px;
    color: #330000;
}
.servicios img{
    width: 50%;
    height: 100%;
    max-height: 200px;
    float: right;
    clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
}
.containerservicios .row .col img{
    display: block;
    margin: auto;
    border-radius: 50%;
    max-width: 300px;
}
.containerservicios .row {
    padding-top: 70px;
    padding-bottom: 70px;
}
.containerservicios .row .col p{
    max-width: 300px;
    text-align: center;
    margin: auto ;  
    padding: 5%;
    font-size: 20px;
}
/*equipotrabajo*/
.equipo{     
    background: url("../img/equipo.png");
}
.equipo h1{
   padding-top: 80PX;
   margin-bottom: 70PX;
   color: #330000;
   font-size: 60px;
   text-align: center;  
}
.equipo .row {
   width: 100%;   
   padding-bottom: 12%;
}
.equipo .row .col img{
   max-width: 30%;
   display: block;
   margin: auto;
}
.equipo .row .col p{
   width: 100%;
   color: #330000;
   text-align: center;
   border: 2px solid #330000;
   padding: 10px;
   word-wrap: break-word;
}

#contacto .container-contacto {
    max-width: 100%;
    margin-left: 4px;
   
}
/*contactos*/
#contacto .container-contacto {
    background-color: #330000;
}

.container-contacto h3{
   width: 100%;
   text-align: center;
   color: #fff;
   padding: 10px;
   word-wrap: break-word;   
}
.container-contacto p{
   width: 100%;
   text-align: center;
   color: #fff;
   padding: 10px;
   word-wrap: break-word;

}
.container-contacto .row .col img{
   padding-top: 20px;
   display: block;
   margin: auto;
   
}
.container-contacto .row{
    margin-right: 1%;
    margin-left: 1%;
}
.container-contacto .row-cols-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 100%;
    max-width: 32%;


}
/*responsive tablet*/
@media only screen and (max-width: 769px){
    .nosotros .carousel1{
        width: 83%;
        margin-left: 9%;
        padding: 20px 20px;
     }
     .servicios h2{
        width: 46%;
        position: absolute;
        text-align: center;
        margin-top: 125px;
        color: #330000;
        font-size: 20px;
    }
    .servicios img{
        width: 50%;
        max-width: 400px;
        height: 100%;
        max-height: 200px;
        float: right;
        clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
    }
    #servicios .servicios {
            background: rgba(255, 204, 0,.9);
            height: 176px;
            max-width: 97%;
    }
    .containerservicios .row .col img {
                display: block;
                margin: auto;
                border-radius: 50%;
                max-width: 180px;
    }
    .containerservicios .row-cols-2>* {
            flex: 51%;
            max-width: 70%;
            margin-left: 127px;
}
    }
    .equipo .row-cols-3>* {
        flex: 51%;
        max-width: 70%;
        margin-left: 127px;

    }
    .container-contacto .row-cols-3>* {
        flex: 100%;
        max-width: 97%;
    }
    /*responsive smarphone*/
@media only screen and (max-width: 376px){
  